@font-face {
	font-family: "HelveticaNeueCyr-Bold";
	src: url("../assets/font/HelveticaNeueCyr-Bold.eot"); /* IE9 Compat Modes */
	src: url("../assets/font/HelveticaNeueCyr-Bold.eot") format("embedded-opentype"), /* IE6-IE8 */
		url("../assets/font/HelveticaNeueCyr-Bold.woff") format("woff"), /* Modern Browsers */
		url("../assets/font/HelveticaNeueCyr-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr-Light";
	src: url("../assets/font/HelveticaNeueCyr-Light.eot"); /* IE9 Compat Modes */
	src: url("../assets/font/HelveticaNeueCyr-Light.eot") format("embedded-opentype"), /* IE6-IE8 */
		url("../assets/font/HelveticaNeueCyr-Light.woff") format("woff"), /* Modern Browsers */
		url("../assets/font/HelveticaNeueCyr-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeueCyr-Medium";
	src: url("../assets/font/HelveticaNeueCyr-Medium.eot"); /* IE9 Compat Modes */
	src: url("../assets/font/HelveticaNeueCyr-Medium.eot") format("embedded-opentype"), /* IE6-IE8 */
		url("../assets/font/HelveticaNeueCyr-Medium.woff") format("woff"), /* Modern Browsers */
		url("../assets/font/HelveticaNeueCyr-Medium.woff2") format("woff2"); /* Modern Browsers */
	font-weight: bold;
	font-style: normal;
}
